node_modules/
backend/.env
backend/public/images/*
!backend/public/images/.gitkeep
!backend/public/images/merca-black.jpeg
!backend/public/images/merca-white.jpeg
!backend/public/images/jacket1.jpg
!backend/public/images/jacket1.jpg
!backend/public/images/table1.jpg
!backend/public/images/table2.jpg
!backend/public/images/camera1.jpg
!backend/public/images/camera2.jpg
!backend/public/images/lamp1.jpg
!backend/public/images/lamp2.jpg
!backend/public/images/headphones1.jpg
!backend/public/images/headphones2.jpg
!backend/public/images/pot1.jpg
!backend/public/images/pot2.jpg
